{% extends "base.html" %}

{% block head %}
<script>
    const searchForOperation = () => {
        const searchInputValue = document.getElementById("operation_search").value;
        window.location.href = `/pages/search/${searchInputValue}`;
    }
</script>
{% endblock %}

{% block content %}
<div class="flex justify-center flex-col items-center">
    <div class="flex my-3 gap-5">
        <input class="text-xl" id="operation_search" placeholder="Operation type" type="text">
        <button class="border-2 rounded-3xl bg-gray-300 p-3" onclick="searchForOperation()">Operations search</button>
    </div>
    <span>For example, Payment of coupons, Deduction of personal income tax on coupons, Withdrawal of funds, Sale of securities</span>
    {% for operation in operations %}
    <div class="flex rounded-3 border-2 p-3 mt-5">
        <img alt="Stonks" class="mr-5" src="{{ url_for('static', path='stonks_1.jpg') }}" width="150">
        <div class="flex flex-col">
            <span class="text-2xl font-bold">{{ operation.type }}</span>
            <span class="text-lg">{{ operation.date }}</span>
            <span class="text-lg">{{ operation.quantity }}</span>
            <span class="text-lg">{{ operation.figi }}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}